Package: mogilefs-utils
Version: 2.30-1
Architecture: all
Maintainer: Jay Bonci <jaybonci@debian.org>
Depends: perl, libcompress-zlib-perl, libwww-perl, libmogilefs-perl
Section: perl
Priority: optional
Description: utilities to manipulate MogileFS filesystems
 The mogilefs-utils package contains tools to administrate and work with the
 MogileFS filesystem from Danga Interactive.
